body {
    font-family: "Andika","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:18px;
    line-height: 24.923076923076923px;
    color: #333333;
}

.sidebar-nav-fixed {
    position:fixed;
    top:84px;
    width:16.48%;
}

@media (max-width: 767px) {
    .sidebar-nav-fixed {
        width:auto;
    }
}

@media (max-width: 979px) {
    .sidebar-nav-fixed {
        position:static;
        width:auto;
    }
}

@media (min-width: 980px) {
    .title {
        width:940px;
    }
    .container-fluid {
        width:940px;
    }
}

h1, h2, h3, h4, h5, h6 {
    line-height: 16px;
    padding: 10px 0 10px 0;
    color: black;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
    line-height: 1;
    text-rendering: optimizelegibility;
    font-family: "Yanone Kaffeesatz","Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1 {
    font-size:200%;
}

h2 {
    font-size: 25.2px;
    line-height: 16px;
}

h3 {
    font-size:21px;
}

h1, h2 {
    margin-bottom:.6em;
    line-height:1.1em;
}

h3, h4, h5 {
    margin-bottom:.3em;
}

#TOC > ul {

    padding-left: 10;
    margin-bottom: 0;
    list-style: none;
    margin-top: 30px;
    margin-left: 0px;
    margin-bottom: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-shadow: 0 1px 0 #fff;
    background-color: #f7f5fa;
    border-radius: 5px;
    position: fixed;
    -webkit-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    width: 250px;
    overflow-y:auto;
    height:90%;
}

#TOC > ul > li {
    font-size:20px;
    line-height:24px;
    list-style-type:none;
}

#tocinline > ul > li {
    font-size:20px;
    line-height:24px;
    list-style-type:none;
}

#TOC > ul > li > ul > li {
    font-size:20px;
    line-height:24px;
    list-style-type:gujarati;
}

#TOC > ul > li > ul > li > ul {
    display:none;
}

blockquote > p {
    font-size:20px;
}

.table {
    width:auto;
}

sup, sub {
    line-height: 1em;
}

header {
    position:static;
    width:100%;
    overflow:visible;
    display:block;


    background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
    background-repeat: repeat-x;
    border: 1px solid #d4d4d4;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1), 0 1px 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1), 0 1px 10px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1), 0 1px 10px rgba(0, 0, 0, 0.1);
}

.title {
    color:#555555;
    border-bottom:0;
    font-size:20px;
    padding: .5em;
    margin-bottom:0;
    margin-left:auto;
    margin-right:auto;
}

nav li:focus {
    background-color:#EEEEEE;
}

nav a:hover {
    text-decoration:none;
}

.title > a {
    color:#555555;
}

.title a:hover {
    text-decoration:none;
}

.container-fluid {
    margin-left:auto;
    margin-right:auto;
    padding: 2em 0 4em 0;
}


table.sourceCode, tr.sourceCode, td.lineNumbers, td.sourceCode {
  margin: 0; padding: 0; vertical-align: baseline; border: none; }
table.sourceCode { width: 100%; line-height: 100%;  }
td.lineNumbers { text-align: right; padding-right: 4px; padding-left: 4px; color: #aaaaaa; border-right: 1px solid #aaaaaa; }
td.sourceCode { padding-left: 5px; }
pre, code { background: #2e3436; color: #eeeeec;font-size:17px;padding:0px;}
code > span.kw { color: #FFC125; font-weight: bold; }
code > span.dt { color: #FFC125; }
code > span.dv { color: #4BC98A; }
code > span.bn { color: #4BC98A; }
code > span.fl { color: #4BC98A; }
code > span.ch { color: #95E454; }
code > span.st { color: #95E454; font-style: italic; }
code > span.co { color: #5d9ae4; font-style: italic; }
code > span.ot { color: #8f5902; }
code > span.al { color: #ef2929; }
code > span.fu { color: #AD7FA8; font-weight: bold; font-style: italic; }
code > span.er { font-weight: bold; }


code {
border: none;
padding: 2px 4px;
padding: 0.125rem 0.25rem;
}
pre.sourceCode{
border : 1px solid #e1e1e8;
}


